build/*
lib/*
include/*
externals/*
modules/*
examples/example_basic1
examples/example_basic2
examples/example_basic3
examples/example_basic4
examples/example_basic5
examples/example_basic6
examples/example_basic7
examples/example_basic8
examples/example_multi_grid1
bindings/C++/examples/example_basic1cpp
bindings/Fortran/examples/example_basic1fc
bindings/Fortran/examples/example_basic2fc
bindings/Fortran/examples/example_basic3fc
bindings/Fortran/examples/example_basic8fc
bindings/Fortran/examples/example_multi_grid1fc
